{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Gestión de Autos</h1>
    <p class="lead">Este es la pagina principal</p>
    <hr class="my-4">
    <p>para añadir algun auto clickear en el boton "Agregar Auto"</p>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Luego de agregar auto se podra eliminar o modificar</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">incluso ver los detalles del auto agregado!</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">o simplemente ver la lista de los vehiculos añadidos</p>
        </div>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}
